<div class="container">
   <h1>Slider</h1>
   <div class="slider center">
      <div class="slide">
         <div class="cl cl-yellow">						</div>
      </div>
      <div class="slide">
         <div class="cl cl-blue"></div>
      </div>
      <div class="slide">
         <div class="cl cl-red"></div>
      </div>
      <div class="slide">
         <div class="cl cl-yellow"></div>
      </div>
      <div class="slide">
         <div class="cl cl-blue"></div>
      </div>
      <div class="slide">
         <div class="cl cl-red"></div>
      </div>
   </div>
   <!--       <div class="pagination"></div> -->
</div>