<div class="container">
   <h1>Slider</h1>
   <div class="slider center">
      <div class="slide py-5 bg-danger">
         <div class="cl cl-yellow py-5">						</div>
      </div>
      <div class="slide py-5 bg-info">
         <div class="cl cl-blue py-5"></div>
      </div>
      <div class="slide py-5 bg-primary">
         <div class="cl cl-red py-5"></div>
      </div>
      <div class="slide py-5 bg-success">
         <div class="cl cl-yellow py-5"></div>
      </div>
      <div class="slide py-5 bg-dark">
         <div class="cl cl-blue py-5"></div>
      </div>
      <div class="slide py-5 bg-warning">
         <div class="cl cl-red py-5"></div>
      </div>
   </div>
</div>