<div>Hello</div>
{% schema %}
{
  "name":"Announcement Bar",
  "settings":[
    {
      "type": "color",
      "id": "announcementbar_bg_color",
      "label": "Background Color",
      "default": "#f5f5f5",
      "info": "Set background color for announcement bar"
    },
    {
      "type": "color",
      "id": "announcementbar_text_color",
      "label": "Text Color Color",
      "default": "#000",
      "info": "Set Text color for announcement bar"
    }
  ],
  "blocks":[
  {
    "type":"announcement",
    "name":"Icon with Text",
    "settings":[
      {
          "type": "image_picker",
          "id": "annoucement_icon",
          "label": "Add Icon"
        },
      {
        "type": "text",
        "id": "announcement-bar-icon-text",
        "label": "Icons Text",
        "default": "Icon Text"
      }
      {
        "type": "image_picker",
        "id": "annoucement_sm-icon",
        "label": "Social Media Icon"
      },
    {
      "type": "text",
      "id": "announcement-bar-icon-text",
      "label": "Social Media Icon Text",
      "default": "Social Media Link Text"
    }
    
    ]
  }
]}  
  
{% endschema %}