<div class="row ann_bg" {%if section.settings.bg_image!=blank%} style=" background:url('{{section.settings.bg_image|img_url:'master'}}');" {%endif%}>
        <div class="col-1 col-sm-3"></div>
        <div class="col-10 col-sm-6 ann-simple">
          {%if section.settings.title!=blank%}
            <div class="w-100">
                <p class="text-center ann-title">
                    {{section.settings.title}}
                </p>
            </div>
          {%endif%}
          {%if section.blocks!=blank%}
            <div class="ann py-0">
              {%for block in section.blocks%}
                {%if block.settings.announcement!=blank%}
                  <div class="ann_item py-0">
                      <div class="ann_cmnt py-0">
                        <p>{{block.settings.announcement}}</p>
                      </div>
                  </div>
                {%endif%}
              {%endfor%}
            </div>
          {%endif%}
        </div>
        <div class="col-1 col-sm-3"></div>
    </div>

{% schema %}
  {
    "name": "Announcements",
    "settings": [
		{
			"type":"text",
			"label":"Title",
			"id":"title"
		},
		{
			"type":"image_picker",
			"label":"Choose background image",
			"id":"bg_image"
		}
	],
	"blocks":[
	{
		"type":"announcement",
		"name":"Announcement",
		"settings":[
			{
				"type":"textarea",
				"label":"Announcement",
				"id":"announcement"
			}]}
	],
	"presets":[
		{
			"name":"Announcements Slider"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
 
{% javascript %}

$(document).ready(function(){
$('.ann').slick({
    arrows:true,
    dots: false,
    prevArrow:'<button class="slick-prev ann-cstm-prev-icon"><img src="https://cdn.shopify.com/s/files/1/0593/1987/7820/files/Lt-Circle.svg?v=1636530315" width="30" height="30"></button>',
    nextArrow:'<button class="slick-next ann-cstm-next-icon"><img src="https://cdn.shopify.com/s/files/1/0593/1987/7820/files/rt-circle.svg?v=1636530315" width="30" height="30"></button>',    
  });
})

{% endjavascript %}
