{%if section.settings.announcement_check==true%}
<div class="announcement-bar d-flex align-items-center">
  <div class="announcement-bar-text">
  </div>
  {%for block in section.blocks%}
      <div class="ann-{{block.settings.announcement_block_title}} d-flex flex-row">
        <img src="{{block.settings.annoucement_icon | img_url:'32x32'}}" loading="lazy" width="24" height="24">
        <p>{{block.settings.announcement-bar-icon-text}}</p>
      </div>
  {%endfor%}
</div>
{%endif%}
{% schema %}
{
  "name":"Announcement Bar",
  "settings":[
    {
      "type": "header",
      "content": "Announcement Bar"
    },
    {
      "type": "checkbox",
      "id": "announcement_check",
      "label": "Show announcement",
      "default": "true",
      "info": "Check if you want to show annoucemment bar"
    },
    {
      "type": "text",
      "id": "announcement_Text",
      "label": "Announcement Text",
      "info": "Add text for annoucement"
    },
    {
      "type": "text",
      "id": "announcement_link",
      "label": "Link",
      "info": "Add link to announcemnet bar",
      "placeholder": "www.mirajhousingsociety.com"
    },
    {
      "type": "header",
      "content": "Announcement Bar Color Scheme"
    },
    {
      "type": "color",
      "id": "announcementbar_bg_color",
      "label": "Background Color",
      "default": "#f5f5f5",
      "info": "Set background color for announcement bar"
    },
    {
      "type": "color",
      "id": "announcementbar_text_color",
      "label": "Text Color Color",
      "default": "#000",
      "info": "Set Text color for announcement bar"
    },
    {
      "type": "header",
      "content": "Social Media Links"
    },
    {
      "type": "text",
      "id": "sm_link_email",
      "label": "Email",
      "info": "example@email.com"
    },  
  {
    "type": "text",
    "id": "sm_link_facebook",
    "label": "Facebook",
    "info": "www.facebook.com"
  },
  {
    "type": "text",
    "id": "sm_link_youtube",
    "label": "YouTube",
    "info": "www.youtube.com"
  },
  {
    "type": "text",
    "id": "sm_link_twitter",
    "label": "Twitter",
    "info": "www.twitter.com"
  },
  {
    "type": "text",
    "id": "sm_link_instagram",
    "label": "Instagram",
    "info": "www.instagram.com"
  }
  ],
  "blocks":[
  {
    "type":"announcement",
    "name":"Icon with Text",
    "settings":[
    {
      "type": "header",
      "content": "Icon With Text Settings"
    },
    {
      "type": "image_picker",
      "id": "annoucement_icon",
      "label": "Icon",
      "info":"Select Icon image"
    },
    {
      "type": "text",
      "id": "announcement-bar-icon-text",
      "label": "Icon Text"
    },
    {
      "type": "text",
      "id": "announcement-bar-icon-link",
      "label": "Icon Link"
    }
      
    ]
  }
]}  
  
{% endschema %}