{% if section.settings.tagline_banner!=blank%}
	
<div class="row">
 		{%if section.settings.banner-section-content=='half_width_image'%}
  			{%if section.settings.half_background_image!=blank%}
              <div class="col-12">
                  <img src="{{section.settings.half_background_image | img_url:'master'}}" class="w-100">
              </div>
  			{%endif%}
      	{%else if section.settings.banner-section-content=='full_width_image'%}
			{%if section.settings.full_background_image!=blank%}
              <div class="col-12">
                  <img src="{{section.settings.full_background_image | img_url:'master'}}" class="w-100">
              </div>
  			{%endif%}
      	{%endif%}
  	
</div>

{%endif%}
{% schema %}

  {
    "name": "Banner Section",
    "settings": [	
    {
      "type": "header",
      "content": "Section Settings",
      "info": "Use these settings to customize hero section"
    },

    {
      "type": "text",
      "id": "tagline_banner",
      "label": "Tagline",
      "default": "A project by Miraj Housing Scheme",
      "placeholder": "A project by Miraj Housing Scheme"
    },
    {
      "type": "checkbox",
      "id": "image_check",
      "label": "Show Image",
      "default": true,
      "info": "Select if you want to show image instead title text"
    },
    {
      "type": "text",
      "id": "hero-section-heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "heading_image",
      "label": "Heading Image"
    },
	{
        "type": "select",
        "id": "banner-section-content",
        "label": "Display below as background:",
        "default": "half_width_image",
        "options": [
        {
        "value": "full_width_image",
        "label": "Full Width Image with Text "
        },
        {
        "value": "half_width_image",
        "label": "Half Width Image with Text"
        },
        {
        "value": "banner_video",
        "label": "Video"
        },	
        {
        "value": "banner_gif",
        "label": "GIF"
        }
        ]
		},
        {
          "type": "image_picker",
          "id": "half_background_image",
          "label": "Select Half Width Image"
        },
        {
        "type": "image_picker",
        "id": "full_background_image",
        "label": "Select Full Width Image"
        },
		{
        "type": "text",
        "id": "banner_video",
        "label": "Add Video Link"
        },
		{
        "type": "image_picker",
        "id": "banner_gif",
        "label": "Select GIF"
        }

    ],
"presets":[
	{
		"name":"Banner Section"
	}
]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
