
{% if section.settings.tagline_banner!=blank%}
  <div class="banner-section">
          {%if section.settings.banner-section-content=='half_width_image'%}
              {%if section.settings.half_background_image!=blank%}
			    <div class="banner_half_image">
                  	<img src="{{section.settings.half_background_image | img_url:'master'}}" class="banner_image_half_width">
    			</div>
              {%endif%}
          {%elsif section.settings.banner-section-content=='full_width_image'%}
              {%if section.settings.full_background_image!=blank%}
                 <div class="banner_full_image">   
    				<img src="{{section.settings.full_background_image | img_url:'master'}}" class="banner_image_full_width">
    			 </div>
               {%endif%}
    		{%elsif section.settings.banner-section-content=='banner_gif'%}
              {%if section.settings.banner_gif!=blank%}
                  <div class="banner_gif">  
    				<img src="{{section.settings.banner_gif | img_url:'master'}}" class="banner_video">
    			  </div>
              {%endif%}
    	  {%elsif section.settings.banner-section-content=='banner_video'%}
              {%if section.settings.banner_video!=blank%}
    			<div class="banner_video">
                    <video autoplay="true" loop="true" class="banner_gif">
                       <source src="{{section.settings.banner_video}}" type="video/mp4">
                    </video>
				 </div>
              {%endif%}
          {%endif%}
  </div>
{%endif%}
{% schema %}

  {
    "name": "Banner Section",
    "settings": [	
    {
      "type": "header",
      "content": "Banner Overlay Settings"
    },

    {
      "type": "text",
      "id": "tagline_banner",
      "label": "Tagline",
      "default": "A project by Miraj Housing Scheme",
      "placeholder": "A project by Miraj Housing Scheme"
    },
    {
      "type": "checkbox",
      "id": "image_check",
      "label": "Show Image",
      "default": true,
      "info": "Select if you want to show image instead title text"
    },
    {
      "type": "text",
      "id": "hero-section-heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "heading_image",
      "label": "Heading Image"
    },
	{
      "type": "header",
      "content": "Banner Background Settings"
    },
	{
        "type": "select",
        "id": "banner-section-content",
        "label": "Display below as background:",
        "default": "half_width_image",
        "options": [
        {
        "value": "full_width_image",
        "label": "Full Width Image with Text "
        },
        {
        "value": "half_width_image",
        "label": "Half Width Image with Text"
        },
        {
        "value": "banner_video",
        "label": "Video"
        },	
        {
        "value": "banner_gif",
        "label": "GIF"
        }
        ]
		},
        {
          "type": "image_picker",
          "id": "half_background_image",
          "label": "Select Half Width Image"
        },
        {
        "type": "image_picker",
        "id": "full_background_image",
        "label": "Select Full Width Image"
        },
		{
        "type": "text",
        "id": "banner_video",
        "label": "Add Video Link"
        },
		{
        "type": "image_picker",
        "id": "banner_gif",
        "label": "Select GIF"
        }

    ],
"presets":[
	{
		"name":"Banner Section"
	}
]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
