 <div class="img-with-text">
        <div class="row cstm-img-with-text">
            <div class="col-12 col-sm-8">
                <div class="cstm-iwt-text">
                    <div class="cstm-iwt-text-heading">
                        <h1>Hello World</h1>
                    </div>
                    <div class="cstm-iwt-text-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quisquam dolor commodi enim facere voluptates dolore. Placeat officia culpa molestiae.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="cstm-iwt-text-img">
                    <img src="./img/1.png" alt="">
                    <img src="./img/2.png" alt="">
                    <img src="./img/3.png" alt="">
                    
                </div>
            </div>
        </div>
</div>


{% schema %}
  {
    "name": "IWT Style 3",
    "settings": 
	[
	{
		"type":"text",
		"label":"Enter Title",
		"id":"title"
	},
	{
		"type":"text",
		"label":"Description",
		"id":"desc"
	},
	{
		"type":"header",
		"content":"Settings"
	},
	{
		"type":"checkbox",
		"id":"imgOnLeft",
		"label":"Image on left side"
	},
	{
		"type":"color",
		"id":"bgColor",
		"label":"Select Background Color"
	}
	],
	"blocks":[
	{
		"name":"Images",
		"type":"Image",
		"settings":[
			{
				"type":"image_picker",
				"id":"image",
				"label":"Choose Image"
			}
		]
	}
	],
	"presets":[
		{
			"name":"Image with Text Style 3"
		}
	]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
