  <div class="cstm-gallery">
     {%if section.settings.title!=blank%}
        <div class="cstm-gallery-title">
            <h1>{{section.settings.title}}</h1>
        </div>
    {%endif%}
    {%if section.blocks!=blank%}
        <div class="cstm_images_List">
          {%for block in section.blocks%}
            <img src="{{block.settings.image|img_url:'master'}}" alt="" class="cstmImageItem">
          {%endfor%}
        </div>
    {%endif%}
    </div>
{% schema %}
  {
    "name": "MHS Gallery",
    "settings": [
		{
			"type":"text",
			"label":"Title",
			"id":"title"
		}],
	"blocks":[
	{
		"type":"announcement",
		"name":"Announcement",
		"settings":[
		{
			"type":"image_picker",
			"label":"Choose Image",
			"id":"image"
		}			
]}
	],
	"presets":[
		{
			"name":"MHS Gallery"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
