<div class="cstm-hero-section">
  <div class="hs_background">
    {%if section.settings.background_image!=blank%}
      <img src="{{section.settings.background_image |img_url:'master'}}" class="hs_background_image">
    {%endif%}
  </div>
  {%if section.settings.about_herosection!=blank%}
    <div class="about_herosection">
        <div class="about_herosection_text">
          <p>{{section.settings.about_herosection}}</p><div class="cstm-line"></div>
        </div>
        {%if section.settings.image_check!=true%}
        {%if section.settings.hero-section-heading!=blank%}
          <p class="hero-section-heading">{{section.settings.hero-section-heading}}</p>
        {%endif%}
        {%else%}
          <img src="{{section.settings.heading_image |img_url:'master'}}" class="heading_image">
        {%endif%}
    </div>
  {%endif%}
  
</div>
{% schema %}
  {
    "name": "Hero Section",
    "settings": [	
    {
      "type": "header",
      "content": "Section Settings",
      "info": "Use these settings to customize hero section"
    },

    {
      "type": "text",
      "id": "about_herosection",
      "label": "About",
      "default": "A project by Miraj Housing Scheme",
      "placeholder": "A project by Miraj Housing Scheme"
    },
    {
      "type": "checkbox",
      "id": "image_check",
      "label": "Show Image",
      "default": true,
      "info": "Select if you want to show image instead title text"
    },
    {
      "type": "text",
      "id": "hero-section-heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "heading_image",
      "label": "Heading Image"
    },
	{
                "type": "select",
                "id": "banner-section-content",
                "label": "Display below as background:",
                "default": "half_width_image",
                "options": [
                    {
                    "value": "full_width_image",
                    "label": "Image with full width"
                    },
                    {
                    "value": "half_width_image",
                    "label": "Image with half width"
                    },
                    {
                    "value": "banner_video",
                    "label": "Video"
                    },	
					{
                    "value": "banner_gif",
                    "label": "GIF"
                    }
                ]
		},
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
    ],
"presets":[
	{
		"name":"Hero Section"
	}
]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
