<div class="cstm_contact_form">
  		{%if section.settings.title!=blank or section.settings.sub_title!=blank%}
          <div class="contact_form_header">
            	{%if section.settings.title!=blank%}
              		<h3>Let's get in touch</h3>
            	{%endif%}
            	{%if section.settings.sub_title!=blank%}
			        <p>Call us at: +923049712197</p>            
            	{%endif%}
          </div>
  		{%endif%}
        <div class="row">
            <div class="col-7">
                <div class="cstm_contact_form_content">
                  {%- form 'contact', id: 'ContactForm' -%}
                        <div class="cstm_contact_form_content-item cstm_contact_form_content_email">
                            <label for="cstm_email">Email</label>
                            <input placeholder="Your email" type="email" name="email" id="cstm_email">
                        </div>
                        <div class="cstm_contact_form_content_email cstm_contact_form_content-item">
                            <label for="cstm_fullname">Full Name</label>
                            <input type="text" placeholder="Your name" name="fullName" id="cstm_fullname">
                        </div>
                        <div class="cstm_contact_form_content_message cstm_contact_form_content-item">
                            <label for="cstm_message">Message</label>
                            <textarea rows="5" placeholder="Type here" id="cstm_message" ></textarea>
                        </div>
                        <a href="#" type="submit" class="s">Send</a>
                    {%endform%}
                </div>
            </div>
            <div class="col-5">
                <div class="contactInfo">
                  {% if section.settings.contact_title!=blank%}
                   <div class="contactInfo_title">
                        <h1>{{section.settings.contact_title}}</h1>
                   </div>
                  {%endif%}
                  {%if section.settings.contact_desc!=blank%}
                   <div class="contactInfo_desc">
                       <p>{{section.settings.contact_desc}}</p>
                   </div>
                  {%endif%}
                   <div class="contactInfo_items">
                     	{%if section.settings.address!=blank%}
                        <div class="contactInfo_item my-3">
                            <i class="fas fa-thumbtack "></i>
                            <span>{{section.settings.address}}</span>
                        </div>
                     	{%endif%}
                     	{%if section.settings.phone%}
                        <div class="contactInfo_item my-3">
                            <i class="fas fa-phone-alt"></i>
                            <span>{{section.settings.phone}}</span>
                        </div>
                     	{%endif%}
                        <div class="contactInfo_item my-3">
                            <i class="fas fa-fax"></i>
                            <span>FAX: +92 304 9712197</span>
                        </div>
                        <div class="contactInfo_item my-3">
                            <i class="far fa-clock"></i>
                            <span>MON - FRIDAY 07:00 AM to 09:00PM</span>
                        </div>
                        <div class="contactInfo_item my-3">
                            <i class="far fa-envelope"></i>
                            <span>info@mirajhousingsociety.com</span>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>

{% schema %}
  {
    "name": "Contact Form",
    "settings": [
		{
			"type":"text",
			"id":"title",
			"label":"Title"
		},
		{
			"type":"text",
			"id":"sub_title",
			"label":"Sub Title"
		},
		{
			"type":"header",
			"content":"Content Information"
		},
		{
			"type":"text",
			"id":"contact_title",
			"label":"Title"
		},
		{
			"type":"textarea",
			"id":"contact_desc",
			"label":"Description"
		},
		{
			"type":"text",
			"id":"address",
			"label":"Address"
		},
		{
			"type":"text",
			"id":"phone",
			"label":"Phone"
		},
		{
			"type":"text",
			"id":"fax",	
			"label":"Fax"
		},
		{
			"type":"text",
			"id":"time",
			"label":"Working days and hours"
		},
		{
			"type":"text",
			"id":"email",
			"label":"Email"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
