<div class="cstm-con">
    <div class="cstm-img d-flex justify-content-end py-5">
      <img src="https://images.unsplash.com/photo-1631986960110-15ff795482dc?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNDE5MTA2OA&ixlib=rb-1.2.1&q=85" alt="" height="500">
      </div>
    <div class="cstm-overlay d-flex flex-column justify-content-center align-items-start">
      <div>
          <h1>A project by Miraj      Housing     Scheme</h1>
      <div class="cstm-line"></div>
      </div>
      
    </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [
		
	]
  }
{% endschema %}

{% stylesheet %}
.cstm-con{
  position:relative;
}
.cstm-img{
  top:0px;
  right:0px;
}
.cstm-overlay{
  height:100%;
  width:70%;
  top:0px;
  lefT:0px;
  position:absolute;
  background-color:rgba(200,200,200,0.5);
}
.cstm-overlay h1{
  transform:rotate(270deg);
  font-size:22px;
  font-weight:500;
  letter-spacing:1px;
  text-transform:uppercase;
  position:absolute;
  left:-20%;
}
.cstm-line{
  position:absolute;
  left:20%;
  top:10%;
  width:2px;
  height:500px;
  background:black;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
