<div class="cstm-con">
    <div class="cstm-img d-flex justify-content-end py-5">
      <img src="https://images.unsplash.com/photo-1631986960110-15ff795482dc?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNDE5MTA2OA&ixlib=rb-1.2.1&q=85" alt="" height="500">
      </div>
    <div class="cstm-overlay d-flex flex-column justify-content-center align-items-start">
      <div>
          <h1>A project by Miraj      Housing     Scheme</h1>
      <div class="cstm-line"></div>
      </div>
      
    </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [
		
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
