  <div class="cstm-gallery">
     {%if section.settings.title!=blank%}
        <div class="cstm-gallery-title">
            <h1>{{section.settings.title}}</h1>
        </div>
    {%endif%}
    {%if section.blocks!=blank%}
        <div class="cstm_images_List">
          {%for block in section.blocks%}
            <img src="{{block.settings.image|img_url:'master'}}" alt="" class="cstmImageItem">
          {%endfor%}
        </div>
    {%endif%}
    </div>
{% schema %}
  {
    "name": "MHS Gallery",
    "settings": [
		{
			"type":"text",
			"label":"Title",
			"id":"title"
		}],
	"blocks":[
	{
		"type":"image",
		"name":"Image",
		"settings":[
		{
			"type":"image_picker",
			"label":"Choose Image",
			"id":"image"
		}			
]}
	],
	"presets":[
		{
			"name":"MHS Gallery"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
$(document).ready(function(){
	$('.cstm_images_List').slick({
    arrows:true,
    dots: false,
    slidesToShow: 4,
    slidesToScroll: 1,
    prevArrow:'<button class="slick-prev glry-cstm-prev-icon"><img src="https://cdn.shopify.com/s/files/1/0593/1987/7820/files/Lt-Circle.svg?v=1636530315" width="30" height="30"></button>',
    nextArrow:'<button class="slick-next glry-cstm-next-icon"><img src="https://cdn.shopify.com/s/files/1/0593/1987/7820/files/rt-circle.svg?v=1636530315" width="30" height="30"></button>',
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 3,
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1
        }
      }
    ]    
  });
})

{% endjavascript %}
