  <div class="cstm-gallery">
        <div class="cstm-gallery-title">
            <h1>Gallery</h1>
        </div>
        <div class="cstm_images_List">
            <img src="./img/3.png" alt="" class="cstmImageItem">
        </div>
    </div>
{% schema %}
  {
    "name": "MHS Gallery",
    "settings": [
		{
			"type":"text",
			"label":"Title",
			"id":"title"
		}],
	"blocks":[
	{
		"type":"announcement",
		"name":"Announcement",
		"settings":[
		{
			"type":"image_picker",
			"label":"Choose Image",
			"id":"image"
		}			
]}
	],
	"presets":[
		{
			"name":"MHS Gallery"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
