<div class="images_with_button">
        <div class="iwb_gallery">
            <img src="./1.png" alt="">
            <img src="./2.png" alt="">
            <img src="./1.png" alt="">
            <img src="./3.png" alt="">
            <img src="./4.png" alt="">
        </div>
        <div class="iwb_button">
            <a href="#">Book Now</a>
        </div>
</div>
{% schema %}
  {
    "name": "Simple Gallery",
    "settings": [
    {
    "type":"text",
    "id":"title",
    "label":"Title"
    },
    {
    "type":"text",
    "id":"btn_text",
    "label":"Button Text"
    },
	{
	"type":"text",
	"id":"btn_link",
	"label":"Button Link"
	}
	],
	"blocks":[
	{
	"type":"gallery",
	"name":"Image",
	"settings":[
	{
			"type":"image_picker",
			"id":"image",
			"label":"Choose Image"
	}
	]

	}
	],
	"presets":[
		{
		 "name":"Simple Image Gallery"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
