<div class="images_with_button">
  {%if section.blocks!=blank%}
  	{%for block in section.blocks%}
        <div class="iwb_gallery">
            <img src="{{block.settings.image |img_url:'master'}}" alt="">
        </div>
    {%endfor%}
  {%endif%}
  		{%if section.settings.btn_text!=blank%}
          <div class="iwb_button">
              <a href="{{section.settings.btn_link}}">{{section.settings.btn_text}}</a>
          </div>
  		{%endif%}
</div>
{% schema %}
  {
    "name": "Simple Gallery",
	"max_blocks":5,
    "settings": [
    {
    "type":"text",
    "id":"title",
    "label":"Title"
    },
    {
    "type":"text",
    "id":"btn_text",
    "label":"Button Text"
    },
	{
	"type":"text",
	"id":"btn_link",
	"label":"Button Link"
	}
	],
	"blocks":[
	{
	"type":"gallery",
	"name":"Image",
	"settings":[
	{
			"type":"image_picker",
			"id":"image",
			"label":"Choose Image"
	}
	]

	}
	],
	"presets":[
		{
		 "name":"Simple Image Gallery"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
