<div class="iwt4">
        <div class="row cstm-iwt4">
            <div class="col-12">
                <div class="iwt4-img">
                    <img src="./img/pexels-casper-starenda-2224933.png" alt="">                    
                </div>
            </div>
            <div class="col-12">
                <div class="iwt4-text">
                    <div class="iwt4-text-heading">
                        <h1>Vision & Mission</h1>
                    </div>
                    <div class="iwt4-text-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quisquam dolor commodi enim facere voluptates dolore. Placeat officia culpa molestiae.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% schema %}
   {
    "name": "IWT Style 4",
    "settings": 
	[
	{
		"type":"text",
		"label":"Enter Title",
		"id":"title"
	},
	{
		"type":"textarea",
		"label":"Description",
		"id":"desc"
	},
	{
				"type":"image_picker",
				"id":"image",
				"label":"Choose Image"
	},
	{
		"type":"header",
		"content":"Settings"
	},
	{
		"type":"checkbox",
		"id":"imgOnLeft",
		"label":"Image on left side"
	},
	{
		"type":"color",
		"id":"bgColor",
		"label":"Select Background Color"
	}

	],
	"presets":[
		{
			"name":"Image with Text Style 4"
		}
	]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
