<div class="iwt4">
        <div class="row cstm-iwt4">
          {%if section.settings.image!=blank%}
            <div class="col-12">
                <div class="iwt4-img">
                    <img src="{{section.settings.image}}" alt="">                    
                </div>
            </div>
          {%endif%}
          {%if section.settings.title!=blank or section.settings.desc!=blank%}
            <div class="col-12">
                <div class="iwt4-text">
                  	{%if section.settings.title!=blank%}
                      <div class="iwt4-text-heading">
                          <h1>{{section.settings.title}}</h1>
                      </div>
                  	{%endif%}
                    {%if section.settings.desc!=blank%}
                    <div class="iwt4-text-desc">
                        <p>{{section.settings.desc}}</p>
                    </div>
                  	{%endif%}
                </div>
            </div>
          {%endif%}
        </div>
</div>
{% schema %}
   {
    "name": "IWT Style 4",
    "settings": 
	[
	{
		"type":"text",
		"label":"Enter Title",
		"id":"title"
	},
	{
		"type":"textarea",
		"label":"Description",
		"id":"desc"
	},
	{
				"type":"image_picker",
				"id":"image",
				"label":"Choose Image"
	},
	{
		"type":"header",
		"content":"Settings"
	},
	{
		"type":"checkbox",
		"id":"imgOnLeft",
		"label":"Image on left side"
	},
	{
		"type":"color",
		"id":"bgColor",
		"label":"Select Background Color"
	}

	],
	"presets":[
		{
			"name":"Image with Text Style 4"
		}
	]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
