<div class="images_with_button">
        <div class="iwb_gallery">
            <img src="./1.png" alt="">
            <img src="./2.png" alt="">
            <img src="./1.png" alt="">
            <img src="./3.png" alt="">
            <img src="./4.png" alt="">
        </div>
        <div class="iwb_button">
            <a href="#">Book Now</a>
        </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
