<div class="res">
        <div class="res-content ">
            <div class="res-info">
                <h1>5 10 Marla, 1 2 Canal Plots</h1>
                <p>Lorem ipsum dolor sit amet, At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur ed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem </p>
            </div>
            <div class="res-icons">
                    <div class="res-iconItem">
                        <img src="./img/hospital/hospital.png" alt="">
                        <p>Hospital Doe</p>
                    </div>
                    <div class="res-iconItem">
                        <img src="./img/hospital/hospital.png" alt="">
                        <p>Hospital Doe</p>
                    </div>
                    <div class="res-iconItem">
                        <img src="./img/hospital/hospital.png" alt="">
                        <p>Hospital Doe</p>
                    </div>
                    <div class="res-iconItem">
                        <img src="./img/hospital/hospital.png" alt="">
                        <p>Hospital Doe</p>
                    </div>
            </div>
        </div>
        <div class="res_img">
            <img src="./img/hospital/architecture-1477041.png" alt="">
        </div>
</div>
{% schema %}
  {
    "name": "Text Image With Icons",
    "settings": [
		{
		"type":"text",
		"label":"Title",
		"id":"title"
		},
		{
		"type":"textarea",
		"label":"Description",
		"id":"desc"
		},
		{
		"type":"image_picker",
		"id":"image",
		"label":"Choose Image"
		}
	],
	"blocks":[
	{
	"type":"icons",
	"name":"Icon With Text",
	"settings":[
		{
		"type":"image_picker",
		"id":"icon",
		"label":"Choose Icon"
		},
		{
		"type":"text",
		"id":"icon_text",
		"label":"Text"
		}
	]
	}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
