   {%if section.settings.title!=blank%}
	<div class="testimonials_title">
        <h1>{{section.settings.title}}</h1>
    </div>
   {%endif%}
    <div class="row testimonials_bg">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="testimonials">
                <div class="testimonial_item">
                    <div class="testimonial_quotes">
                        <img src="./img/leftQuotes.png" alt="" class="testimonial_quotes_lt">
                        <img src="./img/rightQuotes.png" alt="" class="testimonial_quotes_rt">
                    </div>
                    <div class="testimonial_img">
                        <img src="./img/5.png" alt="">
                    </div>
                    <div class="testimonial_cmnt">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eos quod at, itaque voluptates iusto impedit est maiores nisi facilis sunt architecto minima amet obcaecati!</p>
                    </div>
                    <div class="testimonial_info">
                        <h3>John Doe</h3>
                        <p>CEO</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% schema %}
  {
    "name": "Testimonials",
    "settings": [
		{
			"type":"text",
			"label":"Title",
			"id":"title"
		},
		{
			"type":"image_picker",
			"label":"Choose background image",
			"id":"bg_image"
		}
	],
	"blocks":[
	{
		"type":"testimonial",
		"name":"Testimonial",
		"settings":[
			{
				"type":"text",
				"label":"Person Name",
				"id":"name"
			},
			{
				"type":"text",
				"label":"Job Title",
				"id":"job_title"
			},
			{
				"type":"textarea",
				"label":"Testimonial Description",
				"id":"testimonial"
			},
			{
				"type":"image_picker",
				"label":"Choose Person Image",
				"id":"person_image"
			},
			{
				"type":"checkbox",
				"label":"Show Quotes",
				"id":"show_quotes"
			}
		]
	}
	],
	"presets":[
		{
			"name":"Testimonials"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
 
{% javascript %}
{% endjavascript %}
