.banner-section{
  padding:24px 0px;
  position:relative;
  
}
.banner-section img{
	max-width:100%;
}
div.banner_half_image{
	display:flex;
  	justify-content:flex-end;
}
img.banner_image_half_width {
  width: 61.25%;
  max-width:100%;
}

.banner-overlay{
	background-color: rgba(0,0,0,0.1);
  	width:61.25%;
    height:100%;
  	position: absolute;
    top: 0px;
}
div.banner-overlay-tagline{
    transform: rotate(270deg);
}
p.banner-overlay-tagline-text{
	position: absolute;
    top: 50%;
    font-size: 26px;
    left: -100px;
}
