.banner-section{
  padding:24px 0px;
  position:relative;
  
}
.banner-section img{
	max-width:100%;
}
div.banner_half_image{
	display:flex;
  	justify-content:flex-end;
}
img.banner_image_half_width {
  width: 60%;
  max-width:100%;
}

.banner-overlay{
	background:#D9D8D3; 
  	width:61.25%;
    height:100%;
  	position: absolute;
    top: 0px;
  	opacity:0.67;
}
div.banner-overlay-tagline{
    position: absolute;
    top: 50%;
    font-size: 26px;
    left: -100px;
    transform: rotate(270deg);
}
div.banner-overlay-tagline::after{
	content: '';
    width: 100%;
  
    background: grey;
    height: 1.5px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
/* p.banner-overlay-tagline-text{
	margin:0px;
} */
div.banner-overlay-title{
	position:absolute;
  	top:50%;
  	left:20%;
}
h2.banner-overlay-title_text {
    transform: translateX(45px);
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 6px;
    color: #2B2B2B;
}
.banner_gif img{
	width:100%;
}
@media screen and (max-width:1024px){
  .banner-overlay-tagline-text{
  	font-size:24px;
  }
  div.banner-overlay-tagline{
  	top:45%;
  }
  .banner-overlay-title_image{
  	width:85%;
  }
}
@media screen and (max-width:768px){
  .banner-overlay{
  	position:static; 
    width:100%;
    background:#fff;
    padding:30px 0px;
  }
  div.banner-overlay-tagline{
  	position:static;
    transform:rotate(0deg);
  }
  div.banner-overlay-title{
  	position:static;
    display:flex;
    justify-content:center;
  }
  img.banner_image_half_width{
  	width:100%;
  }
	  .banner-overlay-tagline-text{
  	font-size:20px;
  } 
  div.banner-overlay-tagline{
  	top:44%;
  }
  .banner-section{
   	padding-top:0px; 
    }
  .banner-overlay-title_image{
  	width:68%;
  }
  .header__heading, .header__heading-link{
  	transform:translateX(100%)
  }
  .banner-overlay-tagline-text{
  	text-align:center;
    font-size:22px;
  }
  div.banner-overlay-tagline::after{
    width:50%;
    position:static;
  }
  .banner-overlay-title_image{
  	width:25%;
  }
  h2.banner-overlay-title_text{
  	transform:translateX(0px);
    opacity:1;
  }
  .banner-overlay{
    	padding:15px 10px;
    }
    .banner-section,.banner-overlay{
    	padding-bottom:0px;
    }
}



@media screen and (max-width:410px)
{
  .header__heading, .header__heading-link{
  	transform:translateX(30%);
    padding-right:0px;
  }
  .banner-overlay-tagline-text{
  	font-size:18px;
  }
  h2.banner-overlay-title_text{
  	font-size:32px;
  }
}