.banner-section{
  padding:24px 0px;
  position:relative;
  
}
.banner-section img{
	max-width:100%;
}
div.banner_half_image{
	display:flex;
  	justify-content:flex-end;
}
img.banner_image_half_width {
  width: 61.25%;
  max-width:100%;
}

.banner-overlay{
	background-color: rgba(0,0,0,0.5);
  	width:61.25%;
    height:100%;
      
}
