@media screen and (max-width:1024px){
  .Image_with_text-Image-Slider-Area .slick-list.draggable{
  	padding:0px 86px!important;
  }
  .iwt-slide-img{
 	width: 300px;
    height: 350px;
    object-fit: cover;
  }
  button.slick-prev.cstm-prev-icon.slick-arrow:hover,button.slick-next.cstm-next-icon.slick-arrow:hover{
  	transform:translateY(250px )scale(1.1);
  }
  button.slick-prev.cstm-prev-icon.slick-arrow {
    left: 6%;
    transform: translateY(250px);
  }
  button.slick-next.cstm-next-icon.slick-arrow{
  	left:9%;
    transform: translateY(250px);

  }










}









@media screen and (max-width:768px)
{

  .Image_with_text-Image-Slider-Area .slick-list.draggable{
  	padding:0px 140px!important;
  }
  .iwt-slide-img, .slick-active .iwt-slide .iwt-slide-img{
    width: 300px;
    object-fit: cover;
  }
  .slick-active .iwt-slide .iwt-slide-img{
  	height:310px;
  }
  .iwt-slide-img{
  	width:270px;
    height:270px;
    object-fit:cover;
  }

}




  

