@media screen and (max-width:1024px){
  .Image_with_text-Image-Slider-Area .slick-list.draggable{
  	padding:0px 86px!important;
  }
  .iwt-slide-img{
 	width: 300px;
    height: 350px;
    object-fit: cover;
  }
  button.slick-prev.cstm-prev-icon.slick-arrow:hover,button.slick-next.cstm-next-icon.slick-arrow:hover{
  	transform:translateY(210px )scale(1.1);
  }
  button.slick-prev.cstm-prev-icon.slick-arrow {
    left: 3%;
    transform: translateY(210px);
  }
  button.slick-next.cstm-next-icon.slick-arrow{
  	left:6%;
    transform: translateY(210px);


  }
  .cstm-blogs{
  	padding:0rem 5rem;
  }
  .Amenities_item_about{
  	padding:10rem 3rem;
  }
 
}









@media screen and (max-width:768px)
{

  .Image_with_text-Image-Slider-Area .slick-list.draggable{
  	padding:0px 140px!important;
  }
  .iwt-slide-img, .slick-active .iwt-slide .iwt-slide-img{
    width: 300px;
    object-fit: cover;
  }
  .slick-active .iwt-slide .iwt-slide-img{
  	height:310px;
  }
  .iwt-slide-img{
  	width:270px;
    height:270px;
    object-fit:cover;
  }
  .Amenities_item{
  	flex-direction:column-reverse;
  }
  button.slick-prev.cstm-prev-icon.slick-arrow{
  	transform:translateY(485px);
    left:8%;
  }
  button.slick-next.cstm-next-icon.slick-arrow{
  	transform:translateY(485px);
    left:14%;
  }
  button.slick-next.cstm-next-icon.slick-arrow:hover, button.slick-prev.cstm-prev-icon.slick-arrow:hover{
  	    transform: translateY(485px) scale(1.1);
  }
  button.slick-next.cstm-next-icon.slick-arrow:hover, button.slick-prev.cstm-prev-icon.slick-arrow:hover{
  	  	    transform: translateY(485px) scale(1.1);

  }
   .blogs-list{
  	flex-wrap:wrap-reverse;
  }
  .cstm-blogs-item {
  	margin:1rem 5rem;
  }


}



@media screen and (max-width:540px)
{
.header__heading, .header__heading-link {
	transform: translateX(65%);
}
  .Image_with_text-Image-Slider-Area .slick-list.draggable{
  	padding:0px 75px!important;
  }
  .slick-active .iwt-slide .iwt-slide-img{
  	height:275px;
  }
  .iwt-slide-img, .slick-active .iwt-slide .iwt-slide-img{
  	width:200px;
   	object-fit:cover;
  }
  .iwt-slide-img {
  	height:240px;
  }
  .Amenities_item_about{
  	padding:5rem 1rem 5rem 5rem;
  }
 button.slick-prev.cstm-prev-icon.slick-arrow{
  	transform:translateY(400px);
    left:9%;
  }
  button.slick-next.cstm-next-icon.slick-arrow{
  	transform:translateY(400px);
    left:18%;
  }
  button.slick-next.cstm-next-icon.slick-arrow:hover, button.slick-prev.cstm-prev-icon.slick-arrow:hover{
  	    transform: translateY(400px) scale(1.1);
  }
  button.slick-next.cstm-next-icon.slick-arrow:hover, button.slick-prev.cstm-prev-icon.slick-arrow:hover{
  	  	    transform: translateY(400px) scale(1.1);

  }
  .Amenities_item_image img{
  	min-height:325px;
    max-height:325px;
  }
  .cstm-blogs{
  	padding:2rem;
  }
  .cstm-blogs-item{
  	margin:1rem 0rem;
  }
}


@media screen and (max-width:420px){
  .Image_with_text-Image-Slider-Area .slick-list.draggable{
  	padding:0px 50px!important;
  }
  button.slick-prev.cstm-prev-icon.slick-arrow{
    left:10%;
  }
  button.slick-next.cstm-next-icon.slick-arrow{
    left:18%;
  }
  .header__heading, .header__heading-link {
  	transform: translateX(40%);
  }
}

@media screen and (max-width:375px){
  .Image_with_text-Image-Slider-Area .slick-list.draggable{
  	padding:0px 55px!important;
  }
  .iwt-slide-img, .slick-active .iwt-slide .iwt-slide-img{
  	width:165px;
  }
  .slick-active .iwt-slide .iwt-slide-img{
  	height:245px;
  }
  .iwt-slide-img{
  	width:165px;
    height:200px;
  }
}

@media screen and (max-width:320px)
{
  .iwt-slide-img, .slick-active .iwt-slide .iwt-slide-img{
  	width:135px;
  }
  .slick-active .iwt-slide .iwt-slide-img{
  	height:210px;
  }
  .iwt-slide-img{
  	width:135px;
    height:190px;
  }
}
  

