@media screen and (max-width:1024px){
  .Image_with_text-Image-Slider-Area .slick-list.draggable{
  	padding:0px 86px!important;
  }
  .iwt-slide-img{
 	width: 300px;
    height: 350px;
    object-fit: cover;
  }
}