/*
==========================================================================
Custom Theme Styles 
==========================================================================
*/



/*
	Button Styles
*/
 .styled_btn {
	 padding: 3px 8px;
     text-decoration:none;
	 position: relative;
	 border: 1px solid #555555;
	 color: #fff;
	 background-color: #525252;
	 position: relative;
	 overflow: hidden;
	 cursor: pointer;
	 text-transform: uppercase;
   	 width:max-content;
   	 border-radius:5px;
   	 float:right;  
}
 .styled_btn [class^="btn__text"] {
	  font-size: 13px;
   	  font-weight:500;
   	  letter-spacing:1.2px;
 	  border-radius:5px;
   	  text-transform: capitalize;
   	  padding:0rem 1rem;
}
 .styled_btn .btn__text-dynamic, .styled_btn .btn__text-dynamic-inner {
    text-decoration:none;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 z-index: 2;
   	 color:#555555;
	 transition: all ease 0.5s;
}
 .styled_btn .btn__text-dynamic {
	 background-color: #E6E5E2;
	 color: #222;
     text-decoration:none;
	 overflow: hidden;
}
 .styled_btn:hover .btn__text-dynamic {
	 transform: translateX(-101%);
     text-decoration:none;
     color:#fff;
}
 .styled_btn:hover .btn__text-dynamic-inner {
	 transform: translateX(100%);
     text-decoration:none;
   	color:#2b2b2b;
}
a.styled_btn.btn--animation-from-right:hover{
	color:#fff;
  	font-size:16px;
  	font-weight:600;
  	
}
.images_with_button .styled_btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  	margin-top:25px;
}
.images_with_button .styled_btn .btn__text-dynamic{
	background:#fff;
}

 

/*
==========================================================================
Announcement Bar
==========================================================================
*/
.announcement-bar {
    --bs-gutter-x: 0px;
    border: 0px;
}
.announcement-bar{
    padding:13px 10px;
}
.announcement_Text{
    order:1;
  }
  .icon-with-text {
    order:2;
    padding-top:3px;
    margin-left:-3px;
  }
  .announce-sm-icons{
    order:3;
    padding-right: 66px;
  }
  .announce-sm-icons div{
    padding: 0px 5px;
    margin:0px 1px;
  }
  .announce-sm-icons div a img{
    width: 15px;
    height: 15px;
  }
.icon-with-text-item{
    padding: 0px 12px 0px 12px;
    align-items: center;
    margin-left: 26px;
    width:192px;
}
/* .icon-with-text-item{
    width: 20px;
    height: 20px;
} */
  
.icon-with-text-item p{
  color:#555555;
    text-decoration: none;
    padding: 0px 7px;
    font-weight: normal;
    font-size: 14px;
    margin: 0px;
  	transition:0.3s ease-in-out;
}
img.annoucement-bar-icon{
    width: 22px;
    height: 22px;
}
  img.annoucement-bar-icon.\31 {
    width: 18px;
    height: 18px;
}
  .icon-with-text-item.\31 .d-flex{
  	padding-left:32px;
  }
  .icon-with-text-item.\32 .d-flex{
  	padding-left:4px;
  }
.announcement-bar-icon-text{
    text-align: left;
    font: 500 16px Raleway;
    letter-spacing: 1px;
    opacity: 0.8;
    text-decoration: none;
}

.announcement-bar-icon-text p{
    margin-bottom: 0px;
  	padding-bottom:3px;
}
  .announcement_Text{
  	padding-left:10rem;
    display: flex;
    align-items: center; 
  }
  .announcement_Text a{
  	text-decoration:none;
  }
  .announcement_Text p{
  	margin:0px;
    font-size:12px;
    letter-spacing:2px;
  }
.header{
  padding:0 3.8rem;
  min-width:100%;
}
.header__heading-logo {
  height: auto;
  width: 100%;
}
  .announce-sm-icons > ul >li> a{
  	padding:0px 6px;
  }
/* .announce-sm-icons > ul >li> a> svg {
    width: 14px;
    height: 15px;
} */

  .angle-right{
  	padding-left:7px;
  }
  .angle-right>svg{
  	width:8px;
    height:10px;
    fill:#2b2b2b;
  }
@media screen and (max-width:768px){
  .header__inline-menu{
    display: none!important;;
  }
  .cstm-line{
    display: none;
  }
  .header__heading,
  .header__heading-link{
    left:0;
    transform: translateX(0%);
  }
  header.header.header--middle-left.page-width.header--has-menu{
    box-shadow: 4px 0 6px 1px #d3d3d3;
    display:flex;
    justify-content:space-between;
  }
}
.cstm-hero-section{
  position: relative;
  padding:23px 0px;
}
.hs_background_image{
  width: 61%;
}
.hs_background{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.about_herosection{
  position: absolute;
  top: 0px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 110%;
  padding: 23px 0px;
  width: 60%;
  background: rgba(217, 216, 211, 0.67);
}
.heading_image{
  height: 142px;
  position: relative;
  right: 38%;
}
.about_herosection_text p{
  transform: rotate(270deg);
  font-size: 27.5px;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: capitalize;
  margin-left: -53%;
  margin-top: -32%;
  line-height: 45px;
}
.cstm-line{
  background: #2b2b2b;
  height: 550px;
  width: 1px;
  position: absolute;
  left: 23%;
  top: 9%;
  opacity: 0.47;
}
  .multicolumn-card__info>.rte{
  	margin-bottom:1rem;
  }
  .multicolumn_btn{
  	text-decoration:none;
    color:#2B2B2B;
    letter-spacing: 1.5px;
     font-size:18px;
  }
  .multicolumn_btn:hover{
  	color:#2b2b2b;
  }
  
@media screen and (min-width:768px){
  .cstm-line:empty{
    display: block!important;
  }
}

@media screen and (max-width:990px){
  .icon-with-text{
    order: 1;
  }
  .announce-sm-icons {
    order: 2;
    padding-right: 35px;
  }
  .announcement_Text {
    order: 3;
  }
  footer .announcement_Text {
  	order:1;
    padding-left:3rem;
  }
 
  .header{
    grid-template-columns: 2fr 1fr;
  }
  .header-drawer{
    align-self: center;
  }
  .announcement-bar-icon-text p,.icon-with-text-item p{
    display: none;
  }
  .icon-with-text-item {
    padding: 0px;
    margin-left: 30px;
}
.about_herosection {
 padding:0px;
 flex-direction: column;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100%;
 background: rgba(217,216,211,0.8);
}
.cstm-hero-section{
  padding:0px;
}
.about_herosection_text p{
  transform: rotate(0deg);
  letter-spacing: normal;
  margin: 0px;
  text-align: center;
  line-height: normal;
  font-size: 21.5px;
  font-weight: 500;
}
.heading_image{
  height: 80px;
  right:0px;

}

}
@media screen and (max-width:1030px){
  .header--middle-left{
    grid-template-columns: 0.5fr 3fr 0fr;
  }
}

  .annBarText:hover,footer .icon-with-text-item p:hover{
  	font-weight:600;
    color:#000;
  }
  a.link.list-social__link .c,a.link.list-social__link svg{
  transition:0.2s ease-in-out;
  }
  a.link.list-social__link:hover svg{
  transform:scale(1.1);
  }  
 	a.link.list-social__link.YouTube:hover .c, a.link.list-social__link.YouTube .c:hover{
  	fill:#ff0000;
  }
  a.link.list-social__link.Email:hover .c, a.link.list-social__link.Email .c:hover{
  	fill:#ea4335;
  }
  a.link.list-social__link.Facebook:hover .a, a.link.list-social__link.Facebook .a:hover{
  	fill:#1877f2;
  }
  a.link.list-social__link.Twitter:hover .c, a.link.list-social__link.Twitter .c:hover{
  	fill:#1da1f2;
  }
  
  
  
  
  
  
  
  
  
  
/*
============================================================================================
  STYLES FOR ====>>Text with Images Slider Goes Here
============================================================================================
*/

 
.Image_with_text{
	padding: 10rem; 
	margin:3rem 0rem;
/* 	background:#E6E5E2; */
 }
.slick-center { 
  transform: scale(1.08) 
}
/* .iwt-slide{ 
	margin:30px 0px;
} */
.Image_with_text-Image-Slider-Area{
	max-width:80%;
}

.iwt-slide:not(.slick-active) { 
  cursor: pointer; 
}
.Image_with_text-Image-Slider-Area{
	max-width:100%; 
}
/* .iwt-slide-img{
	width:280px;
	height:330px;
	object-fit:contain;
} */
.slick-active .iwt-slide{
	margin-top:0px; 
}
/* .slick-active .iwt-slide .iwt-slide-img{
	height:410px;
} */
.iwt-slider .slick-slide{
	margin:20px 0px;
}
.Image_with_text-textArea{
	padding:3rem 3.5rem;
  	display:flex;
  	flex-direction:column;
  	justify-content:center;
  	height:100%;
/*   	padding-right:7rem; */
}
.Image_with_text-textArea .styled_btn {
    padding: 3px 20px;
}  
  
.cstm-btn{
  	align-self:flex-start;
	padding:10px 20px;
	border-radius:5px;
	background:transparent;
	color:#2B2B2B;
	font-size:14px;
	font-weight:bold;
	border:1px solid #2B2B2B;
/* 	margin-top:20px; */
	text-decoration: none;
	transition: 0.2s ease-in-out;
}
.cstm-btn:hover{
	color: #fff;
	background-color: #2B2B2B;
}
.cstm-heading{
	font-size:38px;
  	line-height: 1.25;
    margin-bottom: 2rem;
	font-weight:200;
/* 	margin-bottom:10px; */
	letter-spacing: 4.6px;
	color: #2B2B2B;	
	font-style: normal;

}
.cstm-desc{
	font-size:16px;
	font-weight:300;
	margin-bottom:30px;
	letter-spacing: 1.6px;
	line-height: 1.25;
	color: #2B2B2B;	
  	
}

  
  
  
/*
============================================================================================
  STYLES FOR ====>> Projects Section
============================================================================================
*/
  
.cstm-projects{
    padding: 0rem 10rem;
    margin:5rem 0rem
}
.projects-list{
    display: flex;
    justify-content: center;
}
.cstm-project-item-img img{
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
 	height: 300px;
    width: 100%;
  	object-fit:cover;
}
.cstm-project-item{
    margin: 0px 1.5rem;
    background-color: #EAE9E5;
    width: 40%;
    border-radius: 10px;
  	box-shadow:1px  1px 5px 1px lightgrey;
    transition: 0.3s ease-in-out;
}
.cstm-project-item:hover{
    transform: translateY(-10px);
}
.cstm-projects-title{
    font-size: 34px;
    font-weight: 200;
    margin-bottom: 2rem;
    color:#2b2b2b;
    text-align: center;
/*     padding: 1.5rem 0rem; */
  	padding-bottom:2.5rem;
    letter-spacing:2.4px;
}
.cstm-project-item-text{
    padding: 1.5rem;
}
  .btn-link{
  	color: #2b2b2b;
    font-size: 22px;
    text-decoration:none;
    
  }

.cstm-project-item-text p{
    font-weight: 300;
/*     letter-spacing: 2.2px; */ 
    color: #2B2B2B;
  	line-height:1.25;
  	text-align:justify;
  	padding-right:2.5rem;
}
  .cstm-project-item-text a{
  	text-decoration: none;
    color:#2b2b2b;
    font-size: 16px;
    letter-spacing:1.6px;
    padding: 0px 5px;
/*     transition:0.1s ease-in-out; */
  }
.cstm-project-item-text .btn_link{
    text-decoration: none;
    color:#2b2b2b;
    font-size: 18px;
    padding: 0px;
}
  .cstm-project-item-text span{
    font-weight: 400;
  	font-size:20px;
    padding:0px;
    letter-spacing:2px;
}
.cstm-project-item-text a:hover{
    color: #2b2b2b;
    font-weight:600;
}
@media screen and (max-width:980px)
{
    .cstm-projects{
        padding: 0rem 2rem;
    }
    .cstm-project-item{
        margin: 0px 1rem;
        background-color: #EAE9E5;
        width: 100%;
        border-radius: 10px;
        transition: 0.3s ease-in-out;
    }
    .cstm-project-item:hover{
        transform: translateY(-10px);
    }
    .cstm-projects-title{
        font-size: 36px;
        font-weight: 200;
        margin-bottom: 1rem;
        color:#2b2b2b;
        text-align: center;
        padding: 1.5rem 0rem;
    }
    .cstm-project-item-text{
        padding: 1.5rem;
    }
    .cstm-project-item-text .btn_link{
        font-weight: 200;
      	text-decoration:none;
        font-size: 1.5rem;
      	color:#2b2b2b;
    }
    .cstm-project-item-text .btn_link:hover{
      color:#2b2b2b;
    }	
    .cstm-project-item-text p{
        font-weight: 300;
        letter-spacing: 2.2px;
        color: #2B2B2B;
/*       	line-height:1.25; */
    }
    .cstm-project-item-text a{
        text-decoration: none;
        color:#2b2b2b;
        font-size: 18px;
        padding: 0px 5px;
    }
    .cstm-project-item-text a:hover{
        color: #2b2b2b;
    }
}
@media screen and (max-width: 767px){
    .cstm-projects{
        padding:0rem 2rem;
        margin:2rem 0rem;
    }
    .cstm-project-item{
        width: 100%;
        margin: 1rem 0rem;
    }
    .projects-list{
        flex-direction: column;
    }
}
  

/*
==========================================================================
STYLES FOR : Amenities 
==========================================================================
*/
  
  .Amenities_item_image img{
    max-width: 100%;
    width:100%;
    max-height:570px; 
    min-height: 100%;
    object-fit: cover;
}
.Amenities{
    margin: 5rem 0rem;
}
.Amenities_item{
    display: flex!important;
    justify-content: space-between;
    background-color: #EAE9E5;
}
.Amenities_item_about{
    flex:0.4;
    padding:10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Amenities_item_image{
    flex:0.6;
  	justify-self:flex-end;
}
.cstm-next-icon{
    position: absolute;
    left: -100rem;
}
button.slick-prev.cstm-prev-icon.slick-arrow{
    left: 7%;
/*     top: 92%; */
    transform:translateY(200px); 
    z-index: 1;
    /* bottom:10%; */
  transition:0.1s ease-in-out;
}
  
button.slick-next.cstm-next-icon.slick-arrow{
    left: 10%;
/*     top:   92%; */
  	transform:translateY(200px);
    /* bottom:10%; */
     transition:0.1s ease-in-out;

    z-index: 1;
}
button.slick-prev.cstm-prev-icon.slick-arrow:hover,button.slick-next.cstm-next-icon.slick-arrow:hover{
  	transform:translateY(200px )scale(1.1);
  }
button.slick-prev.cstm-prev-icon.slick-arrow:before,
button.slick-next.cstm-next-icon.slick-arrow:before{
    display: none;
}
.AmenitiesTitle img{
    width: 62px;
    margin: 10px 0px;
}
.AmenitiesTitle h1{
    letter-spacing: 2.1px;
    color:#2B2B2B;
  	font-size:30px;
    margin: 10px 0px;
    font-weight: normal;
}
.education-desc p{
    color: #2B2B2B;
    letter-spacing: 2.4px;
    font-size: 16px;
    font-weight: 300;
  	line-height:1.25;
}
.Amenities_title-text{
        font-size: 34px;
    font-weight: 200;
    margin-bottom: 1rem;
    color: #2b2b2b;
    text-align: center;
/*     padding: 1.5rem 0rem; */
  	padding-bottom:1rem;
  	letter-spacing:2px; 
  	
}
.education-desc {
    max-height: 320px;
    overflow: scroll;
    overflow-x: hidden;
  	overflow-y: hidden;
}
@media screen and (max-width:767px) {
    .Amenities_item{
        flex-direction: column-reverse;
    }
    .Amenities_item_about,.Amenities_item_image{
        flex:1;
    }
    .Amenities_item_about{
        padding:1rem 0rem;
        padding-left: 1rem;
    }
}
  
 /*
==========================================================================
STYLES FOR : Custom Blogs  
==========================================================================
*/ 
  
.cstm-blogs{
    padding: 0rem 10rem;
    margin:5rem 0rem
}
.blogs-list{
    display: flex;
    justify-content: center;
}
.cstm-blogs-item-img a img{
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
 	height: 300px;
    width: 100%;
  	object-fit:cover;
}
.cstm-blogs-item{
    margin: 0px 1rem;
    background-color: #EAE9E5;
/*     width: 30%; */
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.cstm-blogs-item:hover{
    transform: translateY(-10px);
}
.cstm-blogs-title{
    font-size: 34px;
    font-weight:200;
    margin-bottom: 1rem;
    color:#2b2b2b;
    text-align: center;
/*     padding: 1.5rem 0rem; */
  	padding-bottom:2.5rem;
  	letter-spacing:2px; 
}
.cstm-blogs-item-text{
    padding: 1.5rem;
}
  .btn-link{
  	color: #2b2b2b;
    font-size: 22px;
    text-decoration:none;
    
  }

.cstm-blogs-item-text p{
    font-weight: 300;
    color: #2b2b2b;
    line-height: 1.25;
    text-align: justify;
    padding-right: 2.5rem;
  
}
  .cstm-blogs-item-text a{
  	text-decoration: none;
/*     color:#2b2b2b; */
    letter-spacing:1.5px;
    font-size: 16px;
    color:#555555;
    padding: 0px 5px; 
    transition:0.1s ease-in-out;
  }
.cstm-blogs-item-text .btn_link{
    text-decoration: none;
    color:#2b2b2b;
    font-size: 16px;
    padding: 0px;
}
  .cstm-blogs-item-text a:hover{
  	font-weight:600; 
  }
 
  .cstm-blogs-item-text span{ 
    font-weight: 400;
    font-size: 20px;
    padding: 0;
    letter-spacing: 2px;
    
}
  .cstm-blogs-item-text p span{
  	font-size:16px;
  }
.cstm-blogs-item-text a:hover{
    color: #2b2b2b;
}
@media screen and (max-width:980px)
{
    .cstm-blogs{
        padding: 0rem 2rem;
    }
    .cstm-blogs-item{
        margin: 0px 1rem;
        background-color: #EAE9E5;
        width: 100%;
        border-radius: 10px;
        transition: 0.3s ease-in-out;
    }
    .cstm-blogs-item:hover{
        transform: translateY(-10px);
    }
    .cstm-blogs-title{
        font-size: 36px;
        font-weight: 200;
        margin-bottom: 1rem;
        color:#2b2b2b;
        text-align: center;
        padding: 1.5rem 0rem;
    }
    .cstm-blogs-item-text{
        padding: 1.5rem;
    }
    .cstm-blogs-item-text .btn_link{
        font-weight: 200;
      	text-decoration:none;
        font-size: 1.5rem;
      	color:#2b2b2b;
    }
    .cstm-blogs-item-text .btn_link:hover{
      color:#2b2b2b;
      font-weight:600;
    }	
    .cstm-blogs-item-text p{
        font-weight: 200;
        letter-spacing: 2.2px;
        color: #2B2B2B;
    }
    .cstm-blogs-item-text a{
        text-decoration: none;
        color:#2b2b2b;
        font-size: 18px;
        padding: 0px 5px;
    }
    .cstm-blogs-item-text a:hover{
        color: #2b2b2b;
    }
}
@media screen and (max-width: 767px){
    .cstm-blogs{
        padding:0rem 2rem;
        margin:2rem 0rem;
    }
    .cstm-blogs-item{
        width: 100%;
        margin: 1rem 0rem;
    }
    .blogs-list{
        flex-direction: column;
    }
}
  
/*
==========================================================================
STYLES FOR : Custom Contact Form  
==========================================================================
*/   
  
.cstm_contact_form{
    padding: 3rem 14rem;
    margin:3rem 0rem
}
p.sidebar_text {
    color: #2b2b2b;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    font-size: 50px;
    margin-bottom: 0px;
}
p.sidebar_subtext {
    text-transform: lowercase;
    font-size: 45px;
    color: #2b2b2b;
    text-align: right;
    margin-bottom: 0px;
    margin-top: -30px;
}
.contact_form_header{
    text-align: center;
    padding: 1rem 0rem;
}
.contact_form_header h3{
    font-weight: 200;
    font-size: 34px;
  	letter-spacing:2px; 
    color: #2b2b2b;
}
.contact_form_header p{
    font-weight: 200;
    font-size: 24px;
    color: #2b2b2b;
}
  .cstm_contact_form .col-12.col-md-7{
  	padding:0rem 7rem;
  }


.cstm_contact_form_content-item{
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}
.cstm_contact_form_content-item label{
    font-weight: 600;
    color: #555555; 
    opacity: 0.5;
    padding-bottom: 10px;
  	font-size:13px;
}
.cstm_contact_form_content-item input,.cstm_contact_form_content-item textarea{
    border: 3px solid #555;
    outline: 0px;
/*     background-color: #EAE9E5; */
  	background-color:transparent;
    padding: 10px;
  	border-radius:25px;
}
  .cstm_contact_form_content-item input:focus-visible,.cstm_contact_form_content-item textarea:focus-visible{
  	outline-offset:0rem;
    box-shadow:none;
    outline:0px;
  }  
  .cstm_contact_form_content-item textarea{
  	resize:none;
  }
.cstm_contact_form_content-item input{
    height: 40px;
}
/*   .cstm_contact_form_content-item input:focus{
  	border:0px;
    outline:0px; 
  } */
.cstm_contact_form_content-item input::placeholder, .cstm_contact_form_content-item textarea::placeholder{
    font-size: 14px;
    letter-spacing: 2px;
    opacity: 0.7;
}
.contactInfo{
    padding: 20px;
  	padding-left:5rem;
}
.contactInfo_title h1{
    font-size: 20px;
    color: #2b2b2b;
    opacity: 0.5; 
    letter-spacing: 2.1px;
    padding: 5px 0px;
    font-weight: 700;
}
.contactInfo_desc p{
    color: #2b2b2b;
    opacity: 0.7;
    font-size: 16px;
    letter-spacing: 1.5px;
}
.contactInfo_item i{
    margin-right: 0.5rem;
    color: #2b2b2b;
    font-weight: 700;
    opacity: 0.7;
  	font-family:"Font Awesome 5 Free"!important;
}
.contactInfo_item span{
    color: #2b2b2b;
    opacity: 0.7;
    font-size: 16px;
}
.contactForm_btn{
	padding:5px 40px;
	border-radius:5px;
	background:#fff;
	color:#2B2B2B;
	font-size:14px;
	font-weight:bold;
	border:1px solid #2B2B2B;

	text-decoration: none;
	transition: 0.2s ease-in-out;
}
.contactForm_btn:hover{
	color:#fff;
	background-color: #2B2B2B ;
}  
  
  
  
  
/*
==========================================================================
	Theme Styles For| Text with Image style 3 
==========================================================================
*/

.img-with-text{
    padding:0rem 10rem;
    margin:5rem 0rem;  
}  
  .cstm-iwt-text-img .slick-dots li{margin:0px;} 
.cstm-iwt-text{
/*     background: #EAE9E5; */
    padding:0rem 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column
}
.cstm-iwt-text-img img{
    max-width: 100%;
}
.cstm-iwt-text-heading h1{
    font-weight: 200;
    font-size:40px;
    color: #2b2b2b;
    letter-spacing: 4.2px;
}
.cstm-iwt-text-desc p {
    letter-spacing: 2px;
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 300;
    line-height: 1.15;
}
.cstm-iwt-text-img .slick-dots{
    bottom: 10px;
}
.cstm-iwt-text-img .slick-dots li.slick-active button:before{
    color:white!important;
    opacity: 1;    
}
.cstm-iwt-text-img .slick-dots li button:before{
    font-size:34px;
  	font-family:slick!important;
    color: #EAE9E5!important;
    opacity: 1;
}
.cstm-iwt-text-img.slick-dotted.slick-slider{
    margin-bottom: 0px;
}
.cstm-iwt-text-img .iwt3-cstm-prev-icon{
    left:10px;
    z-index:1;
}
.cstm-iwt-text-img .iwt3-cstm-next-icon{
    right:10px;
    z-index: 1;
}
.cstm-iwt-text-img .iwt3-cstm-prev-icon::before,.cstm-iwt-text-img .iwt3-cstm-next-icon::before{
    display: none;
}
  .iwt3Left{
  	padding-left:5rem;
  }
@media screen and (max-width:520px){
    .cstm-img-with-text{
        flex-direction:column-reverse;
    }
    .cstm-iwt-text-img .slick-list.draggable{
        padding:0px!important;
    }
    .img-with-text{
        padding: 0rem 5rem;
    }
    .cstm-iwt-text{
        padding:2rem;
    }
  .iwt3Left{
  	padding-left:auto;
  }
}
  .cstm-iwt-text-img{
  	cursor:grab;
  }
  .cstm-iwt-text-img button.slick-arrow{
  	visibility:hidden;
    opacity:0;
    transition:0.15s ease-in-out;

  }
  .cstm-iwt-text-img:hover button.slick-arrow{
  	visibility:visible;
    opacity:1;
  }
  /*
==========================================================================
	Theme Styles For| Text with Image style 4
==========================================================================
*/
  
.iwt4{
    padding: 0rem 5rem;
    margin: 3rem 0rem;
      background-color: #EAE9E5;

}

.iwt4-img{
    width: 100%;
    padding: 8rem 2rem;
    padding-bottom: 0px;
    height: auto;
}
.iwt4-img img{
    max-width: 100%;    
}
.iwt4-text{
    padding: 3rem 8rem;
    display: flex;
    align-items: center;
}
.iwt4-text-heading{
    flex:0.3;
}
.iwt4-text-heading h1{
    font-weight: 200;
  	letter-spacing: 6px;
}
.iwt4-text-desc{
    flex:0.7;
    padding: 0rem 0.5rem;    
}
.iwt4-text-desc p {
    letter-spacing: 2px;
    line-height: 1.25;
    font-size: 18px;
    color: #2b2b2b;
  	font-weight:300;
}
@media screen and (max-width: 520px){
    .iwt4{
        padding: 0rem 2rem; 
    }
    .iwt4-img{
        padding: 0px;
        padding-top: 1rem;
    }
    .iwt4-text{
        padding:0rem;
        padding-top: 1rem;
        align-items: flex-start;
        flex-direction: column;
    }
    
}
  
  /*
==========================================================================
STYLES FOR : Testimonials 
==========================================================================
*/
  
.testimonials_bg{
    padding:5rem 0rem;
    margin: 3rem 0rem;
    /* display: flex; */
    /* justify-content: center; */
    max-width: 100%;
}
.testminals_title{
    text-align: center;
}
.testimonial_item{
    /* width:50%; */
    background-color: #fff;;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
  border-radius:10px;
}
.testimonial_quotes img{
    width: 35px;

}
.testimonial_quotes_lt{
    position:absolute;
    left:35px;
    top:65px;
}
.testimonial_quotes_rt{
    position:absolute;
    right:35px;
    bottom:65px;
}
.testimonial_img img{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  	object-fit:cover;
}
.testimonial_cmnt{
    padding: 5rem;
    padding-bottom:0px;
}
.testimonial_cmnt p{
    text-align: center;
    font-size: 18px;
    line-height: 1.25;
  color:#2b2b2b;}
.testimonial_info{
    text-align:center;
}
.testimonials .slick-list{
    padding-top:5rem;
}
.iwt3-cstm-prev-icon:before,.iwt3-cstm-next-icon:before{
    display:none;
}
.testimonial_info h3{
    font-weight:400;
    font-size:18px;
}
  .testimonials_bg div:empty{
  	display:block!important;
  }
  @media screen and (max-width:1024px){
    .testimonial_cmnt{
    	padding:5rem 1rem;
      	padding-bottom:0px;
    }
    .testimonial_quotes_lt{
    	left:20px;
      	top:50px;
    }
    .testimonial_quotes_rt{
    	right:20px;
    }
  }
  @media screen and (max-width:768px)
  {
    .testimonial_cmnt p{
    	font-size:14px;
    }
    .testimonial_quotes img{
    width:25px;
    }
  }
  
  
  /*
==========================================================================
	Theme Styles For| Announcement Sections
==========================================================================
*/
    
.ann_bg{
    padding:5rem 0rem;
    margin: 3rem 0rem;
/*     background:url('./img/4.png'); */
    /* display: flex; */
    /* justify-content: center; */
    max-width: 100%;
}
.ann_title{
    text-align: center;
}
.ann_item{
    /* width:50%; */
    background-color: #fff;;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
}
.ann_cmnt{
    padding: 3rem;
    padding-bottom:0px;
}
.ann_cmnt p{
    text-align: center;
    font-size: 18px;
}
.ann_info{
    text-align:center;
}
/* .testimonials .slick-list{
    padding-top:3.1rem;
} */
/* .iwt3-cstm-prev-icon:before,.iwt3-cstm-next-icon:before{
    display:none;
} */
.ann_info h3{
    font-weight:400;
    font-size:18px;
}
.col-6.ann-simple {
    background: white;
}
.ann-title{
    padding:1rem 0rem;
}
.ann-title{
    font-size:34px;
    font-weight:200;
    letter-spacing: 4.2px;
}
.ann .slick-list{
    /* padding-top:1rem; */
    padding-bottom:5rem;
}
.ann_cmnt{
    letter-spacing: 2.2px;
}
button.slick-prev.ann-cstm-prev-icon.slick-arrow {
    left: 45%;
    z-index: 1;
    transform:translateY(45px)

}
button.slick-next.ann-cstm-next-icon.slick-arrow {
    right: 45%;
    z-index: 1;
    transform:translateY(45px)
}
button.slick-prev.ann-cstm-prev-icon.slick-arrow::before,button.slick-next.ann-cstm-next-icon.slick-arrow::before{
    display: none;
}  
  .ann_bg .col-3:empty{
  	display:block;
  }
  .ann_bg .col-1:empty{
  	display:block;
  }
  .ann-simple{
	background:white;
    border-radius:10px;
  }
@media screen and (max-width:1024px){
    .ann_cmnt{
    	padding:5rem 1rem;
      	padding-bottom:0px;
    }
  button.slick-next.ann-cstm-next-icon.slick-arrow{
  	right: 43%;
    transform:translateY(55px)
  }
  button.slick-prev.ann-cstm-prev-icon.slick-arrow {
    left: 43%;
    transform:translateY(55px)

}
  }
  @media screen and (max-width:768px)
  {
    .ann_cmnt p{
    	font-size:14px;
    }
  }
  
  
/*
============================================================================================
  STYLES FOR ====>>Custom Gallery
============================================================================================
*/

  .cstm-gallery{
            margin:3rem 0rem;
/*     height:590px;
    overflow:hidden; */
}
        .cstm-gallery-title h1{
            font-weight: 200;
            font-size: 34px;
            text-align: center;
        }
        .cstm_images_List{
            display:flex;
          	height:500px;
            padding:2rem 5rem;
        }
        .cstmImageItem{
            max-width: 100%;
/*             border-radius:40px; */
            padding:1rem;
            transition: 0.3s ease-in-out;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
        }
  .cstm_images_List .slick-slide{
  	transition:0.2s ease-in-out;
  }
        .cstm_images_List .slick-slide:hover{
            transform: scale(1.1);
        }
        button.slick-prev.glry-cstm-prev-icon.slick-arrow{
            left:15px;
        }
        button.slick-next.glry-cstm-next-icon.slick-arrow{
            right:25px;
        }
/*   		.cstm_images_List .slick-slide.slick-current.slick-active img{
  		height:460px;
  		}
  .cstmImageItem{
  		height:440px;
  	} */
  
  
 /*
============================================================================================
  STYLES FOR ====>>Image With Text With Icons
============================================================================================
*/ 
  
  .res{
    display: flex;
    padding: 0rem 10rem;
    margin:5rem 0rem;
  }

  .res-content{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0.5;
  }
  .res-iconItem{
    background: #EAE9E5;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
    height:100px;
    cursor:pointer;
    transition:0.2s ease-in-out;
    border-radius:2px;
  }
  .res-iconItem:hover{
  	transform:scale(0.96)
  }
  
  .res-info{
    padding: 3rem 0rem;
    padding-right: 3rem;
  }
  .res-info h1{
    letter-spacing: 2.6px;
    font-weight: 200;
    font-size: 40px;
  }
  .res-info p{
    letter-spacing: 2px;
    font-size: 18px;
    font-weight:300;
    padding: 1rem 0rem;
    color: #2b2b2b;
    line-height:1.25;
  }
  .res-icons{
    align-self: flex-start;

    display: flex;
    justify-content: space-evenly;
  }
  .res-iconItem img{
    width: 35px;
    transition:0.2s ease-in-out;
  }
  .res-iconItem:hover img{
  	transform:scale(1.1) translateY(-5px);

  }
  .res-iconItem p{
    margin: 0px;
    padding-top:10px;
    color: #555555;
    font-size: 14px;
    letter-spacing: 1px
  }
  .res_img{
    flex: 0.5;
  }
  .res_img img{
    max-width: 100%;
    width:100%;
    max-height:570px;  
    height: 100%;
  }  
  
  /*
============================================================================================
  STYLES FOR ====>>Simple Images Gallery
============================================================================================
*/
  
  
  .images_with_button{
    display: flex;
    flex-direction: column;
    padding:0rem 9.5rem;
  }
  .iwb_gallery{
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  .iwb_gallery img{
    max-width: 100%;
    object-fit: cover; 
    padding: 0rem 0.5rem;
    width: 250px;
    height:250px;
  }
  .iwb_button a{
    padding:15px 30px;
    border-radius:5px;
    background:#fff;
    color:#2B2B2B;
    font-size:16px;
    font-weight:bold;
    border:1px solid #2B2B2B;
    margin-top:20px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }
  .iwb_button a:hover{
    color: #fff;
    background-color: #2B2B2B;
  }
  .iwb_button{
    margin: 3rem 0rem;
    align-self: center;
  }
  .iwb_gallery:last-child(1){
  display:none!important;
}
.images_with_button .styled_btn [class^=btn__text] {
    font-size: 16px;
}
  .images_with_button .styled_btn {
    padding: 7px 30px;
}
  
  
  footer .announcement_Text.col-7 {
    display: flex;
    align-items: center;
}
  footer .icon-with-text-item p{
  	font-size:13px;
  }
/*   footer .announcement-bar.row{
  	padding-bottom:0px;
  } */
  footer .icon-with-text{
  	padding-top:0px;
    padding-left:80px;
  }
  footer .announcement_Text p{
  	font-size:11.5px;
    letter-spacing:1px;
  }
  footer img.annoucement-bar-icon{
    width:18px;
    height:18px;
  }
  footer .announcement-bar{
  	padding:10px 15px;
  }
  footer announcement_Text{
  	text-align:center;
  }
  footer .icon-with-text-item{
  	padding:0px 0px 0px 0px;
    margin-left:0px;
  }
   footer .icon-with-text-item.\31 .d-flex .annoucement-bar-icon{
  	width:16px;
     height:16px;
  }
  #shopify-section-template--15117797916860__163540502488940eb4 .video-section{
  	padding:0rem 10rem;
  }
  .cstm_contact_form_content .styled_btn .btn__text-dynamic, .image-with-text__content.image-with-text__content--adapt .btn__text-dynamic{
  	background-color:#fff;
  }
  div#shopify-section-template--15117802209468__163631216952e6b15c .btn__text-dynamic-inner, #shopify-section-template--15117802209468__1636312401e91e8264 .btn__text-dynamic-inner {
    background: #fff;
}.tour iframe {
    width: 100%;
    height: 650px;
}
  