/*
==========================================================================
Custom Theme Styles 
==========================================================================
*/
.announcement-bar{
    padding:0px 10px 0px 10px;
}
.announcement_Text{
    order:1;
  }
  .icon-with-text {
    order:2;
  }
  .announce-sm-icons{
    order:3;
    padding-right: 100px;
  }
  .announce-sm-icons div{
    padding: 0px 6px;
    margin:0px 1px;
  }
  .announce-sm-icons div a img{
    width: 18px;
    height: 18px;
  }
.icon-with-text-item{
    padding:0px 10px;
}
/* .icon-with-text-item{
    width: 20px;
    height: 20px;
} */
.icon-with-text-item a p{
    text-decoration: none;
    padding: 0px 7px;
}
.announcement-bar-icon-text{
    text-align: left;
    font: normal normal medium 20px/24px Raleway;
    letter-spacing: 1px;
    color: #2B2B2B;
    opacity: 0.8;
    text-decoration: none;
}
announcement-bar-icon-text p{
    margin-bottom: 0px;
}